
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
#header{
    height: 180px;
}
.header__nav-top{
    background-color: #39393B;
    position: relative;
    
}
.header__nav{
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #39393B;
    
}
.header__nav-top::after{
    --link--image:
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: 38px;
    left: 0;
    background: url(http://localhost/E-commerce%20Shop%20PHP/Public/Frontend/image/background.png) repeat-x bottom;
}
.header__list{
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
}
.header__list-item{
    display: inline-block;
    /* line-height: 40px; */
    padding: 14px 16px;
}
.header__list-item:hover .header__item-link{
    color:#d35400 ;
}
.header__item-link{
    color: #fff;
    display: block;
}
.header__license{
    position: relative;
    top: 22px;
    left: 0;
    padding: 0 40px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

    
}
.header__logo{
    /* text-align: center; */

}
.header__link-logo{
    text-decoration: none;
}
.header__link-logo img{
    width: 100%;
}
.header__contact-phone{
    color: var(--back-color);
}
.header__contact-phone i{
    font-size: 1.8rem;
    margin-right: 16px;
    color: var(--font-color);
}
.contact-phone{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: var(--font-color);
    transform-origin: left ;
    transition: all ease .3s;
    -webkit-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    -o-transition: all ease .3s;
}

.contact-link:hover .contact-phone,
.contact-link:hover i{
    color: #8e44ad;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.header__form-group{
   float: right;
   width: 90%;
}
.header__form{
  
}
.header__input{
    display: flex;
    align-items: center;
   
}
.header__input >input[type='submit']{
    outline: none;
    border: none;
    height: 36px;
    cursor: pointer;
    padding: 0 10px;
    border: 1px solid var(--border-color);
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background-color: rgb(206, 206, 206);
    color: var(--font-color);
    font-family: 400;
}
.header__input >input[type='submit']:hover{
    background-color:rgb(156, 156, 156) ;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.header__input-text{
    border: 1px solid var(--border-color);
    height: 36px;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    align-items: center;
    border-right: none;
}
.header__input-text i{
    padding: 0 16px;
    color: #646465;
    font-size: 1.6rem;
    line-height: 36px;
}
.header__input-text> input[type='text']{
    border: none;
    outline: none;
    width: 80%;
    height: 34px;
    color: var(--font-color);
   
}
.header__input-text> input[type='text']:focus .header__input{
    outline: 1px solid #3498db;
}
.header__menu{
    position: relative;
    top: 40px;
    background-color: #F2762E;
    border-radius: 2px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.header__list-bottom{
    
}
.dropdown-mobi-tablet{
    display: none;
    position: absolute;
    top: calc(100% + 6px);
    text-align: center;
    width: 200%;
    right: 0;
    background-color: #F2762E;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
.header__item-bottom{
    display: inline-block;
    
    margin: 6px;
}
.header__item-bottom .header__item-link{
    padding: 10px 20px ;
    font-size: 1.8rem;
}
.header__dropdown-item{  
    margin: 6px;
}
.header__dropdown-item:hover .header__drowdown-link{
    color: #F2762E;
    background-color: var(--white-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.header__drowdown-link{
    color: var(--white-color);
    font-size: 1.8rem;
    padding: 10px 20px ;
    display: block;
}
.dropdown-list{
    position: relative;
}
.dropdown-list::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 5px;
    background-color: transparent;

}
.dropdown-list:hover .dropdown-mobi-tablet{
    display: block;
}
.header__item-bottom i{
    padding: 0 5px;
}
.header__item-bottom .header__item-link:hover{
    color: #F2762E;
    background-color: var(--white-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/* End Header */
#slide{
   
     
}
.slider{
    height: 100%;
    background-color: chocolate;
}
.slide__wellcome{
    position: relative;
    top: -90px;
    left: 0;
    z-index: 2;
    background-color: #EFEFEF;
}
.slide__info{
    padding: 20px;
}
.slide__heading{
    font-size: 2.4rem;
    padding: 0 0 20px 0;
    color: #ff9900;
    font-weight: 500;
}
.slide__text{
    color: var(--font-color);
    font-size: 1.4rem;
}
/* End Slider */
#content {
    position: relative;
    top: -90px;
}
.content__banner{
    padding: 36px 0 20px 0;
    margin: 0 -10px 0 -10px;
    /* display: flex; */
    /* justify-content: space-between; */
}
.content__baner-img{
    /* width: calc(100% / 4); */
    padding: 0 20px;
}
.content__baner-img-lg{
    /* width:  calc(100% / 2); */
    padding: 0 20px;
}
.banner__img{
    width: 100%;
}
.banner__link{
    position: relative;
    margin-bottom: 4px;
    display: block;
    line-height: 1.6;
    font-size: 2.4rem;
    color: var(--white-color);
    font-weight: 500;
}
.banner__text{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    top: 109%;
    left: 0;
    transition: all ease .5s;  
}

.banner__link:hover .banner__text{
    transform: scale(1.2);
    display: block;
    top: 45%;
    
}
.content__category{
    position: relative;
    background-color: #39393B;
    height: 46px;
    margin-bottom: 26px;
    z-index: 1;
}
.content__label{
    padding: 10px 32px;
    line-height: 26px;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--white-color);
}
.card{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card:hover {
    box-shadow: 0 1px 8px 0 #b9b8b8;
    will-change: transform;
    transform: translateY(-4px);
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
}
.card:hover .card-name 
{ 
    color: #44bd32;
}
.card-link{
   
    display: block;
    color: var(--white-color);
}
.card-content{
    padding-top:100% ;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    cursor: pointer;
    /* border-top-left-radius: 2px;
    border-top-right-radius: 2px; */
}
/* .card-content::after{
    content: '';
    position: absolute;
    bottom: 72px;
    left: 5%;
    margin: 0 auto;
    width: 90%;
    height: 1px;
    background-color: rgba(34,36,38,.1);
} */
.card-body{
    padding: 0 10px;
}
.card-name{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 10px 0;
    border-top: 1px solid rgba(34,36,38,.1);
    text-transform: uppercase;
}
.card-price{    
    color: #ff3f34;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 10px;
   
}
.card-price span{
    text-decoration: line-through;
    color: rgba(0,0,0,.4);
    font-weight: 300;
}

.content__news{
    /* display: flex; */
    margin: 0 -10px 32px;
    justify-content:space-between;
    align-items: center;
}
.content__news-card{
    padding-top: 60%;
}
.content__news-body{
    margin-top: 30px;
    text-align: left;
    
}
.card__news-name{
    color: #44bd32;
    font-size: 1.8rem;
    margin-bottom: 10px;

}
.card__news-time{
    color: #646465;
    font-size: 1.6rem;
    font-style: italic;
    margin: 10px 0;
}
.card__news-description{
    overflow: hidden;
    line-height: 2rem;
    max-height: 4rem;
    font-size: 1.3rem;
    color:#777;
    font-style: italic;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
/* End Content */
#footer{
    padding: 30px 0 0 0;
    border-top: 1px solid rgba(0,0,0,.1) ;
 
   
}
.footer__contact{
    padding: 0 10px;
    font-size: 1.5rem;
    
}
.footer__head{
    padding: 10px 0 14px  ;
    color: #F2762E ;
    font-size: 1.6rem;
    /* text-align: center; */
    font-weight: 500;
}
.footer__body{
    display: flex;
    flex-direction: column;
}
.footer__body label{
    line-height: 1.4;
    width: 80%;
}
.footer__link-left{
    color: #3498db;
    margin: 0 10px;
}
.footer__link-left:hover{
    color: #2980b9;
    
}
.footer__list{
   /* text-align: center; */
   overflow: hidden;
   
}
.footer__item{
    margin-bottom: 14px;
}

.footer__item:hover .footer__link-right{
    color: #44bd32;
    transform: translateX(30px) scale(1.2);
    -webkit-transform: translateX(30px) scale(1.2);
    -moz-transform: translateX(30px) scale(1.2);
    -ms-transform: translateX(30px) scale(1.2);
    -o-transform: translateX(30px) scale(1.2);
}
.footer__link-right{
    display: block;
    transition: all ease 0.3s;
    font-size: 1.4rem;
    color: var(--font-color);
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}
.footer__and-footer{
    background-color: #39393B;
    margin-top:20px ;
    position: relative;
}
.footer__and-footer::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 20px;
    top: -20px;
    background: url(http://localhost/E-commerce%20Shop%20PHP/Public/Frontend/image/background.png) repeat-x bottom;
    transform: rotate(180deg);
    
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.footer__info{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    padding: 10px 0;
}
.footer__license{
   line-height: 1.6;
   padding: 10px;
}
.footer__link{
    color: #3498db;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
}
.footer__link:hover .footer__icon{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}
.footer__link:hover {
    color: #2980b9;
}
.footer__social{
    
}
.footer__icon{
    font-size: 30px;
    margin: 0 8px;
    color: #fff;
}
/* End Footer */
/* Register */
.register__banner{
    margin: 14px 0 ;
    color: var(--font-color);
}
.register__header{
    padding: 4px;
    border: 1px solid #c7c5c5;
    box-shadow: 0 1px 2px 0 rgb(34 36 38 / 15%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.register__header a i{
    padding: 0 16px;
    color: rgb(47, 99, 196);
}
.register__header span i{
    margin-right: 16px;
    font-size: 1rem;
    
}
.register__header span{
    
    font-size: 1.3rem;
    color: rgba(0,0,0,.8);
    font-weight: 400;
}
.register__title{
    color:rgba(0,0,0,.77) ;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 16px;
}
.register__title i {
    margin-right:  4px;
    font-size: 1.6rem;
}
.register__title::after{
    content: '';
    position: absolute;
    width: 30%;
    left: 12px;
    top: 50%;
    height: 1px;
    background: #c7c5c5;
}
.register__title::before{
    content: '';
    position: absolute;
    width: 30%;
    height: 1px;
    top: 50%;
    right: 12px;
    background: #c7c5c5;
  
}
.register__form-label{
    display: block;
    margin: 0 0 4px;
    color: rgba(0,0,0,.77);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: none;
}
.register__input{
    width: 100%;
    outline: none;
    margin-bottom: 14px;
    border: 1px solid var(--border-color);
    padding: 10px 14px ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn{
    border: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    box-shadow: 0 1px 2px var(--border-color);
    font-size: 1.4rem;
    color: var(--white-color);
    border-radius: 5px ;   
}
.btn .btn__card{
    padding: 10px ;
    background-color: #44bd32;
    color: var(--white-color);
  
}
.btn-register{
    color:rgba(0,0,0,.6);
    padding: 10px 14px;
    font-weight: 600;
    transition: all ease .1s;
    -webkit-transition: all ease .1s;
    -moz-transition: all ease .1s;
    -ms-transition: all ease .1s;
    -o-transition: all ease .1s;
}
.btn-register:hover{
    background: #CACBCD;
    color: rgba(0,0,0,.8);
}
.map__here{
    width: 100%;
   
    text-align: center;
}
.header__name{
    margin-bottom: 10px;
    font-size: 2.4rem;
    color: rgba(0,0,0,.8);
}